body{
    background-color: #6B8E23;
}

nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-right: 2%;
  }

  body{text-align: center;
    background: black;
    color: white;
    font-family: Helvetica;}